.about-info {
  .display-3 {
    margin-bottom: rem-calc(20);
  }

  .image-block {
    position: relative;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      max-height: rem-calc(160);
      position: absolute;
      display: block;
      object-fit: cover;
    }
  }

  p:last-child {
    margin-bottom: 0;
  }
}

.resume-info {
  .display-3 {
    margin-bottom: rem-calc(35);
  }

  .resume-row {
    border-top: 1px solid rgba(255, 255, 255, 0.1);

    &:first-child {
      border-top: 0;
    }
  }

  .description p {
    font-size: rem-calc(14);
    font-weight: $font-weight-lighter;
  }
}

.contact-form {
  textarea.form-control {
    min-height: rem-calc(100);
  }
}