// List
.list-line {
  padding-left: rem-calc(16);

  li::marker {
    content: "– ";
    color: var(--#{$prefix}list-line-marker-color);
  }
}

ul {
  font-weight: $font-weight-lighter;
}

// Paragraph
p {
  font-weight: $font-weight-lighter;

  strong {
    color: $emerald;
  }
}

// Link
a {
  color: var(--#{$prefix}link-color);
  text-decoration: underline dashed;
  text-decoration-thickness: 1px;
  @include transition($transition-base);

  &:hover {
    color: var(--#{$prefix}link-color-hover);
    text-decoration: none;
  }
}

// Type display classes

.display-3 {
  font-size: rem-calc(30);
  font-weight: $font-weight-light;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  margin-bottom: rem-calc(35);
  padding-bottom: rem-calc(8);

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    background-color: $emerald;
  }

  &::before {
    width: rem-calc(70);
    height: 1px;
    bottom: 0;
  }

  &::after {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    left: rem-calc(68);
    bottom: -2px;
    z-index: 100;
  }
}
